<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz.thymeleaf.layout"
	layout:decorator="layout">

<th:block layout:fragment="content">
	<div class="container ">
		<div class="mb-3"></div>

		<div class="card ">
			<div class="card-header">Create Roles</div>
			<div class="card-block">


				<div class="container">
					<form th:action="@{/roles/}" th:object="${role}" th:method="post">
						<div class="row">
							<div class="m-3">
								<input placeholder="Name" class="form-control"
									th:field="*{name}" /> <span th:if="${#fields.hasErrors()}"
									th:errors="*{name}" class="text-danger">Error</span>
							</div>
						</div>
						<div class="row">
							<div class="m-3">
								<input type="submit" class="btn btn-primary" value="Save"></input>
								<a href="/roles" class="btn btn-secondary">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
