<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz.thymeleaf.layout"
	layout:decorator="layout">

<th:block layout:fragment="content">

	<div class="container ">
		<div class="mb-3"></div>

		<div class="card ">
			<div class="card-header">Edit a Role</div>
			<div class="card-block">
				<div class="container">
					<form th:action="@{/roles/{id}(id=${role.id})}" th:object="${role}"
						th:method="put">
						<div class="row">
							<div class="m-3">
								<input type="text" th:field="*{name}" class="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="m-3">
								<input th:type="submit" value="Modify" class="btn btn-primary" />
								<a href="/roles" class="btn btn-secondary">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>