<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">

<th:block layout:fragment="content">

	<div class="container ">
		<div class="mb-3"></div>

		<div class="card ">
			<div class="card-header">Edit a User</div>
			<div class="card-block">

				<div class="container">
					<form th:action="@{/users/{id}(id=${user.id})}" th:method="put"
						th:object="${user}">
						<div class="row">
							<div class="m-3">
								<input th:field="*{email}" placeholder="Email"
									class="form-control" /> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger">Error</span>
							</div>
						</div>
						<div class="row">
							<div class="m-3">
								<input th:field="*{name}" placeholder="Name"
									class="form-control" /> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger">Error</span>
							</div>
						</div>
						<div class="row">
							<div class="m-3">
								<input th:field="*{lastName}" placeholder="Last Name"
									class="form-control" /> <span
									th:if="${#fields.hasErrors('lastName')}"
									th:errors="*{lastName}" class="text-danger">Error</span>
							</div>
						</div>

						<div class="row">
							<div class="m-3">
								<select class="custom-select mb-4"
									aria-label="Default select example" th:field="*{roles}">
									<option th:each="role : ${roles}" th:value="${role.id}"
										th:text="${role.name}"
										th:selected="${role.id == user.roles[0].id}"></option>
							</div>
						</div>

						<div class="row">
							<div class="m-3">
								<input type="hidden" th:field="*{password}"
									placeholder="Password" class="form-control" /> <span
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}" class="text-danger">Error</span>
							</div>
						</div>


						<div class="row">
							<div class="m-3">
								<label class="custom-control custom-checkbox"> <input
									type="checkbox" th:field="*{active}"
									class="custom-control-input"> <span
									class="custom-control-indicator"></span> <span
									class="custom-control-description">Active?</span>
								</label>
							</div>
						</div>
				</div>
				<div class="row">
					<div class="m-3">
						<button type="submit" class="btn btn-primary">Update</button>
						<a href="/users" class="btn btn-secondary">Back</a>
					</div>
				</div>

				</form>
			</div>
		</div>
	</div>
</th:block>


</html>